.card{
    -webkit-box-shadow: -5px 8px 10px -3px rgba(0,0,0,0.42); 
    box-shadow: -5px 8px 10px -3px rgba(0,0,0,0.42);
    margin:20px;
    min-width: 525px;
    min-height: 250px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    float: right;
    background:#F5FFFA;
    margin-top: -14rem;
}

.card-container{

}

.card-header{
    
}

.card-header h2{
    color:black;
    padding: 10px;
    margin: 0;
    font-size: 30px;
}

.card-content
{
    max-width: 1200px;
    color: black;
    text-align: left;
    font-size: 18px;
    padding: 10px;
    

}

.card-photo-right{
    height: 250px;
    border-radius: 15px;

}