
#navbar{
  width: 100%;
  min-height: 6vh;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  transition: all .7s ease-in;
  position: fixed;
  top: 0;
}

#navbar a{
  padding: 20px;
}