html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  background: #F8F8FF;
}

ul {
  list-style-type: none;
  padding: 0;
}

.icon-svg
{
  height: 48px;
  fill: red;
}

.image-brands{
  height: 6rem;
}
.skills-tech{
  display: flex;
  max-width: 1200px;
  justify-content: center;
}
.skills-tech i{
  letter-spacing: 2rem;
  font-size: 3rem;
  color: #10345a;
}

.section-h1{
  font-size: 2rem;
  font-weight: 600;
  padding: 1.1rem;
}

.section-h2{
  max-width: 1200px;
  font-size: 1.3rem;
  font-weight: 100;
}
.section-header
{
  max-width: 800px;
  padding: 1.15rem;
}

.section-about-me
{
  display: flex;
  background: #10345a;
  width: 100%;
  justify-content: center;
  margin: auto;
  padding-bottom: 10rem;
  padding-top:4rem;
  
}

.section-skills{
  display: flex;
  background: #F8F8FF;;
  width: 100%;
  justify-content: center;
  margin: auto;
  padding: 20px;

}

.section-work{
  display: flex;
  background: #10345a;
  width: 100%;
  justify-content: center;
  margin: auto;

}

.section-art{
  display: flex;
  background: #F8F8FF;
  width: 100%;
  justify-content: center;
  margin: auto;

}

.section-content-column
{
  display: flex;
  flex-direction: column;
  
}
.column{
  padding: 30px;
  text-align: center;
  max-width: 33%;
}

.column-border{
  padding: 30px;
  text-align: center;
  border-left: 1px solid;
  border-right:1px solid;
  max-width: 33%;
}

.column h4{
  text-align: center;
  padding: 25px;
  
}

.column h5{
  text-align: center;
}

.column-border h4{
  text-align: center;
  padding: 25px;
  
}

.column-border h5{
  text-align: center;
}


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}